
.filenameContainer {
  display: flex;
  flex-direction: column;
}

.filenameRow {
  padding: 4px;
  cursor: pointer;
}

.filenameRow:hover{
  background-color: rgba(0,0,0,0.125);
}

.filenameRow.highlighted {
  background-color: cornflowerblue;
}
